/* Navigation bar just below the one found in the base template - only open on home */
.home-nav {
  display: flex;
  align-items: center; 
}
  
.home-nav-item {
  color: #000; 
  text-decoration: none; 
  padding: 0.5rem 1rem; 
  font-weight: bold; 
  flex-grow: 1; 
  text-align: center; 
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  height:100%;
  border-bottom: 3px solid transparent; /* Default transparent border */
}

.home-nav-item:hover {
  color: rgb(30, 30, 237);
  background-color: rgb(198, 198, 238);
  border-bottom: 3px solid rgb(30, 30, 237);
}

.home-nav-item a:hover {
  color: rgb(30, 30, 237);
}

.home-nav-item a {
  text-decoration: none;
  color: black;
}

/* Dropdown for categories section of home navigation bar */
.dropdown-menu {
  position: absolute;
  top: 100%;
  margin: 0; 
  left: 0;
  right: 0;
  padding:2px;
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#all-categories-dropdown-menu {
  width: 60vw;
}
                
#all-categories-dropdown-menu li {
  list-style-type: none;
  color:black;
}

#categories-container #selected-category-subcategory-container {
  height: 100%;
}

#categories-container {
  background-color:white;
}


.categories-list-item {
  margin-top: 20px;
}
                
.sub-categories-container {
  background-color: #F8FAFC;
  display: none;
}

.sub-categories-list-item {
  margin-top: 15px;
}

.product-showcase-row {
  margin-top: 30px;
  margin-left:2%;
}

.product-showcase-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.product-showcase-item-title {
  text-align: center;
  font-size: 12px;
}

#more-button-row {
  margin-top:30px;
}

/* Container for image with 'about' button and product search bar */
#top-image-container {
  background-image: url("/static/images/home-page-image-1.jpeg");
  height: 350px; 
  background-size: cover; 
  background-position: center;
  padding-top: 70px;
  /* padding-left: 40px; */
}

#top-image-inner-container {
  width: 25%;
  color: white;
  margin-left: 5%;
}

#learn-about-link {
  text-decoration: none;
}

#search-bar {
  background-color:white;
  border-radius: 50px;
  vertical-align: middle;
  height: 60px;
  padding: 10px;
  padding-left:20px;
  padding-right: 20px;
}

#search-input-box {
  height: 40px;
  border-radius: 50px;
  border: none;
  flex-grow: 1;
}

#search-input-box:focus {
  outline: none;
}

#search-button {
  height: 40px;
  border-radius: 50px;
}

/* Explore section */
/* Explore section */
#explore-container {
  height: 650px;
  margin-top: 50px;
  
}

#explore-header-text {
  font-weight: bold;
  margin-left: 10%;
}

#explore-inner-container {
  margin-left: 10%;
  width: 80%;           
}

#left-explore-image-container {
  background-image: url("/static/images/tires-stacked-in-warehouse.jpg");
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.row.explore-image-container {
  margin-left:0;
}
#right-explore-top-image-container {
  background-image: url("/static/images/iphone-image.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 300px;
  border-radius: 25px;
}

#right-explore-bottom-image-container {
  background-image: url("/static/images/field_equipment.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 280px;
  border-radius: 25px;
  margin-top: 50px;
}

.explore-image-header-text-container {
  background: linear-gradient(to top, 
            rgba(0, 0, 0, 0.8) 10%, 
            rgba(0, 0, 0, 0.5) 50%, 
            rgba(0, 0, 0, 0.2) 80%, 
            rgba(0, 0, 0, 0) 100%);
  border-radius:25px;
}

.explore-image-top-header {
  color: white;
  font-weight: bold;
}

.explore-image-bottom-header {
  color: white;
  font-weight: bold;
}






