#main-product-search-container {
    height: 1000px;
}
.outer-container {
    border: 1px solid black;
    border-radius: var(--gui-border-radius);
}

#text-search-container {
    height: 10%;
    display: flex;
    margin-top: 20px;
}

#sort-controls-container {
    height: 10%;
}

#main-container {
    height: 80%;
    display: flex;
    gap: 2.5%;
}

#filters-container {
    width: 20%;
}

.filter-button {
    font-size: 12px;
}

#products-container {
    width: 77.5%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#inner-products-container {
    margin-bottom: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: var(--gui-border-radius);
    
    padding: 0.5rem;
    /* height: 200px !important; */
}

.product-card-img {
    height: 60%;
    width: 100%;
    object-fit: contain;
    padding: 0.5rem;
    box-sizing: border-box;
    /* margin-bottom: 40px; */
    flex: 1 1 auto;
}

.product-card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.product-title-wrapper {
    height: 3.5rem; 
    display: flex;
    align-items: flex-end;
}

#pagination-container {
    margin-top: auto;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0;
}
