.card {
    border-radius: var(--gui-border-radius);
}

#store-dashboard-main-container {
    margin-top: 20px;
}

#header-container {
    margin-bottom: 30px;
}

.info-card-header h3 {
    margin: 0 auto;
    text-align: center;
    flex: 1;
}
