<!-- This modal is to be used for registration confirmations like registering a new customer account or when registering a new store -->
<div class="modal fade" id="registration-confirmation-modal" tabindex="-1" aria-labelledby="registration-confirmation-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registration-confirmation-modal-label">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="registration-confirmation-main-text"></div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" id="registration-confirmation-modal-continue-button">Continue</button>
      </div>
    </div>
  </div>
</div>
  