{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <style>
    </style>
</head>
<body>
    <div class="login-container">
        <input type="text" id="username-input" placeholder="Username">
        <input type="password" id="password-input" placeholder="Password">
        <button id="login-button">Login</button>
    </div>
</body>
</html>