{% extends "Stores/base.html" %}
{% load static %}

{% block title %} View My Account {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script> var user_id = "{{ user_id }}"; </script>
    <script src="{% static 'js/view_customer_account.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_customer_account.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <div id="primary-info-container" class="text-center position-relative">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-fluid profile-picture mb-3">
                        <div class="position-absolute plus-icon-container" onclick="document.getElementById('profile-picture-input').click();">
                            <i class="bi bi-plus-circle plus-icon"></i>
                        </div>
                    {% else %}
                        <div id="add-profile-pic" class="profile-picture-placeholder rounded-circle d-flex align-items-center justify-content-center mb-3" onclick="document.getElementById('profile-picture-input').click();">
                            Add Profile Picture
                        </div>
                    {% endif %}
                    <input type="file" id="profile-picture-input" style="display: none;" onchange="uploadProfilePicture();" />
                </div>
                <h3 class="text-center">{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-muted text-center">{{ user.email }}</p>
            </div>
            <div class="col-md-8">
                <div id="profile-info">
                    <h4>Account Details</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Date of Birth</th>
                                <td>{{ user.date_of_birth | default:"Not provided" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number</th>
                                <td>+{{user.country_phone_number_code}} {{ user.phone_number | default:"Not phone number provided"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{ user.address | default:"Address not set"}}</td>
                            </tr>
                            {% if user.address_2 %}
                                <tr>
                                    <th scope="row">Address 2</th>
                                    <td>{{ user.address_2 }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">City</th>
                                <td>{{ user.city | default:"No city provided"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>{{ user.state | default:"No state provided"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Zip Code</th>
                                <td>{{ user.zip_code | default:"No zip code provided"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Country</th>
                                <td>{{ user.country | default:"No country provided"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}