#main-container {
    width: 35%;
    margin: 0 auto;
    align-items: center;
}

#form-container {
    background-color: #f8f9fa;
    margin-top: 50px;
    padding-top: 15px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 30px;
}

#button-container {
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#messages-container {
    text-align: center;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.error-input {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-message {
    background-color: red;
}

.success-message {
    background-color: green;
}

