{% extends "Stores/base.html" %}
{% load static %}

{% block title %} Add New Product {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script> var csrfToken = "{{ csrf_token }}"; </script>
    <script src="{% static 'products/js/add_new_product.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'products/css/add_new_product.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="main-container">
    <div class="row">
        <div class="col-12" >
            <div class="container" id="form-container">
                <h2>Add New Product</h2>
                <form id="add_new_product_form" method="POST">
                    <div class="mb-3">
                        {% csrf_token %}
                        <label for="product_name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="product_name" name="product_name" required>
                        <div id="messages-container"></div>
                    </div>
                    <div id="button-container">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>                
</div>
{% endblock %}
