{% extends "Stores/base.html" %}
{% load static %}

{% block title %} Edit Product Details {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script> var csrfToken = "{{ csrf_token }}"; </script>
    <script> var counter = {{ properties|length }} || 0; // Fallback to 0 if no properties </script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="{% static 'js/edit_product.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/edit_product.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="main-container">
    <div class="container" id="form-container">
        <div class="row">
            <div class="col-12" id="header-container">
                <h2 id="header-title">Edit Product</h2>
                <div id="saving-status-icon-container">
                    <div id="product-saving-icon-container"><img src="{% static 'images/product_saving_icon.gif' %}" alt="Saving Icon"> Saving... </div>
                    <div id="product-saved-icon-container"><i class="bi bi-check product-save-successful" id="product-saved-icon" width="40"></i></div>
                </div>
            </div>
        </div>
        <form id="edit_product_form" method="POST">
            {% csrf_token %}
            <div class="row form-row">
                <label for="product_name">Product Name</label>
                <input type="text" class="form-control" id="product_name" name="product_name" reqbrekuired>    
            </div>
            <div class="row form-row">
                <label for="product_description">Product Description</label>
                <textarea class="form-control" id="product_description" name="product_description" required></textarea>
            </div>
            <div class="row form-row">
                <label for="subcategory">Subcategory</label>
                <select class="form-select" id="subcategory" name="subcategory" required>
                    <option value="" selected disabled>Select a Subcategory</option>
                    <option value="1">Subcategory 1</option>
                    <option value="2">Subcategory 2</option>
                    <option value="3">Subcategory 3</option>
                </select>
            </div>
            <div id="sortable-properties">
                {% for property in properties %}
                    <div class="sortable-item" id="property-row-{{ forloop.counter }}">
                        <div class="col-md-5">
                            <label for="property-name-{{ forloop.counter }}">Property Name</label>
                            <input type="text" class="form-control" id="property-name-{{ forloop.counter }}" name="property-name-{{ forloop.counter }}" value="{{property.name }}" required>
                        </div>
                        <div class="col-md-5">
                            <label for="property-value-{{ forloop.counter }}">Property Value</label>
                            <input type="text" class="form-control" id="property-value-{{ forloop.counter }}" name="property-value-{{ forloop.counter }}" value="{{property.value}}" required>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger remove-property-button">Remove</button>
                        </div>
                    </div>
                {% endfor %}

            </div>
            
            <div id="add-property-button-container" class="row form-row">
                <button type="button" id="add-property-button" class="btn btn-primary">Add Detail</button>
            </div>
            

            <div id="button-container">
                <!-- TODO edit the cancel's button to go back to different pages  -->
                <button type="button" class="btn btn-secondary">Cancel</button> 
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="submit" class="btn btn-success">Save Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}