{% extends "Stores/base.html" %}
{% load static %}

{% block title %} Edit Product Details {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script> var csrfToken = "{{ csrf_token }}"; </script>
    <script> var counter = {{ properties|length }} || 0; // Defaults to 0 if no properties are found
             var productId = "{{ product.id }}";
             var initialProductStateId = "{{ initial_product_state.id }}";
    </script> 
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="{% static 'js/edit_product.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/edit_product.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="main-container">
    <div class="container" id="form-container">
        <div class="row">
            <div class="col-12" id="header-container">
                <h2 id="header-title">Edit Product</h2>
                <div id="saving-status-icon-container">
                    <div id="product-saving-icon-container"><img src="{% static 'images/product_saving_icon.gif' %}" alt="Saving Icon"> Saving... </div>
                    <div id="product-saved-icon-container"><i class="bi bi-check product-save-successful" id="product-saved-icon" width="40"></i></div>
                    <div id="product-save-error-icon-container"><i class="bi bi-x-circle product-save-error" id="product-save-error-icon" width="40"></i></div>
                </div>
            </div>
        </div>
        <form id="edit_product_form" method="POST">
            <div class="row">
                <div class="col-8" id="product-details-container">
                    {% csrf_token %}
                    <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}"> 
                    <div class="row form-row">
                        <label for="product_name">Product Name</label>
                        <input type="text" class="form-control product-info-input" id="product_name" name="product_name" value="{{ product.product_name }}" required>    
                        <div class="error-message-div" id ="product_name_error_field"></div>
                    </div>
                    <div class="row form-row">
                        <label for="product_description">Product Description</label>
                        <textarea class="form-control product-info-input" id="product_description" name="product_description">{{ product.product_description|default:"" }} </textarea>
                        <div class="error-message-div" id ="product_description_error_field"></div>
                    </div>
                    <div class="row form-row">
                        <label for="subcategory">Subcategory</label>
                        <select class="form-select product-info-input" id="subcategory" name="subcategory" required>
                            <option value="" selected disabled>Select a Subcategory</option>
                            {% for subcategory in subcategories %}
                                <option value="{{ subcategory.id }}" {% if subcategory.id == product.subcategory.id %} selected {% endif %}>{{ subcategory.subcategory_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="error-message-div" id ="subcategory_error_field"></div>
                    </div>
                    <div id="product-properties">
                        {% for property_name, property_value in properties.items %}
                            <div class="row sortable-item property-row" id="property-row-{{ forloop.counter }}">
                                <div class="col-md-5">
                                    <label for="property-name-{{ forloop.counter }}">Property Name</label>
                                    <input type="text" class="form-control product-info-input property-name-input" id="property-name-{{ forloop.counter }}" name="property-name-{{ forloop.counter }}" value="{{ property_name }}" required>
                                    <div class="error-message-div property-name_error_field" id="property-name-{{ forloop.counter }}_error_field"></div>
                                </div>
                                <div class="col-md-5">
                                    <label for="property-value-{{ forloop.counter }}">Property Value</label>
                                    <input type="text" class="form-control product-info-input property-value-input" id="property-value-{{ forloop.counter }}" name="property-value-{{ forloop.counter }}" value="{{ property_value}}" required>
                                    <div class="error-message-div property-value_error_field" id="property-value-{{ forloop.counter }}_error_field"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-danger remove-property-button">Remove</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="add-property-button-container" class="row form-row">
                        <button type="button" id="add-property-button" class="btn btn-primary">Add Detail</button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row form-row">
                        <button type="button" class="btn btn-primary" id="upload-image-button">Upload Image</button>
                        <input type="file" id="image-input" style="display: none;" accept="image/*">
                        <div class="container" id="image-upload-progress-container" >
                            <progress id="image-upload-progress" value="0" max="100"></progress>
                        </div>
                    </div>
                    <div id="images-container">
                        <div id="images-inner-container">
                            <div id="initial-image-loading-icon-container">
                                <img src="{% static 'images/edit-product-images-loading-animation.gif' %}" alt="Loading Images" id="initial-image-loading-icon">
                                <p id="initial-image-loading-text">Loading Product Images</p>
                            </div>
                            <div id="inner-images-messages-container">
                                <p id="inner-images-messages-label"></p>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            <div id="button-container">
                <!-- TODO edit the cancel's button to go back to different pages  -->
                <button type="button" class="btn btn-secondary" id="cancel-changes-button">Cancel</button> 
                <button type="button" class="btn btn-danger" id="remove-product-button">Delete</button>
                <button type="button" class="btn btn-success" id="save-product-button">Save Product</button>
            </div>
            <div class="message-div" id="extra-message-div"></div>
        </form>
    </div>
</div>

{% include "modals/confirm_deletion.html" %}
{% endblock %}