{% extends "Stores/base.html" %}
{% load static %}

{% block title %} View Product - {{ product.product_name }} {% endblock %}

{% block scripts %}
    {{ block.super }}
    <script> var productId = "{{ product.id }}"; </script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script src="{% static 'js/view_product.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/view_product.css' %}">
{% endblock %}

{% block content %}
    <div class="container" id="main-container">
        <h2>Product Information</h2>

        <div class="row">
            <div class="col-md-6" id="product-image-container">
                <div class="row">
                    <div class="col-md-3" id="image-preview-container">
                        <div id="thumbnail-carousel"></div>
                    </div>
                    <div class="col-md-9" id-="image-viewer-container">
                        <div id="main-image-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="product-details-container">
                <div class="row">
                    <div id="main-product-info-container">
                    </div>
                </div>
                <div class="row" id="product-properties-info-container"></div>
            </div>
        </div>
            
    </div>
{% endblock %}