{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% block styles %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    
</head>
<body>
    <header>
        <h1>Plataforma de Vendas</h1>
        <!-- Add your navigation menu here -->
        <div id="nav-buttons-div">
            <button type="button" id="home-nav-button" href="">Home</button>

            {% if request.user.is_authenticated %}
                {% if request.user.account_type == "customer" %}
                    <button type="button" class="nav-button" id="customer-account-info-nav-button">My account</button>
                {% elif request.user.account_type == "seller" %}
                    <button type="button" class="nav-button" id="my-store-nav-button">My store</button>
                {% else %}
                    <button type="button" class="nav-button" id="admin-account-nav-button">My account</button>
                {% endif %}
                <button type="button" class="nav-button" id="logout-nav-button">Logout</button>
            {% else %}
                <button class="nav-button" id="login-nav-button">Login</button>
                <button class="nav-button" id="register-account-nav-button">Register</button>
                <button class="nav-button" id="register-seller-nav-button">Register to Sell</button>
            {% endif %}
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
        <!-- Add your main content here -->
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>
</html>