{% extends "Stores/base.html" %}
{% load static %}

{% block title %} Order Dashboard {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stores/css/store_orders_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'core/react/assets/main.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'core/react/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="orders-dashboard-main-container" data-store-id="{{ store.id }}"></div>    
{% endblock %}