{% extends "Stores/base.html" %}
{% load static %}

{% block title %} {{ store.store_name }} Dashboard {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stores/css/store_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'core/react/assets/main.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script> const csrfToken = "{{ csrf_token }}"; </script>
    <script type="module" src="{% static 'core/react/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="store-dashboard-main-container">
        <div class="row">
            <div class="col-7 mx-auto" id="header-container">
                <div class="card text-center" id="store-header-card">
                    <div class="card-body py-4">
                        <!-- TODO could put store image/logo here -->
                        <h3 class="mb-0">Store Dashboard</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5" id="store-dashboard-store-info-widget-container" data-store-id="{{ store.id }}"></div>
            <div class="col-7" id="store-dashboard-recent-orders-widget-container" data-store-id="{{ store.id }}"></div>
        </div>
    </div>
{% endblock %}