body {
    background-color: #d5d5d5;
}
#login-container {
    width: 30%;
    height: 25%;
    margin-left: 35%;
    margin-top: 15%;
    border: 1px solid black;
    padding-top: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; 
}