#main-container {
    width: 50%;
    margin: 0 auto;
}

#form-container {
    background-color: #f8f9fa;
    margin-top: 50px;
    padding-top: 15px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

#button-container {
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}