#admin-portal-main-container {
    margin-top: 2%;
    margin-left: auto;
    margin-right:auto;
    width: 70%;
    margin-bottom:100px;
}

#header-container {
    align-items: center;
    text-align: center;
}

#portal-change-selector {
    width: 15%;
    margin: 0 auto;
}

#product-container {
    display:none;
}

.form-row {
    margin-top: 30px;
    /* gap: 5px; */
}

.form-container  {
    margin-bottom: 10px;
    padding: 30px;
}

.button-container {
    text-align: center;
}

.error-input {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
}