header {
    background-color: #436a91;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 5%;
    margin-right:5%;
    margin-top:4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

#nav-buttons-div {
    margin-right: 5%;
}

.nav-button {
    margin-left: 10px;
}







