#form-container {
    width: 100%;
    height: 1000px;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid black;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right:15px;
}

#edit_product_form {
    height: 100%;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#header-title {
    text-align: center;
    margin: 0;
}

#saving-status-icon-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

#saving-status-icon-container img, #saving-icon-container .bi {
    width: 40px;
    height: 40px;
}

#product-saving-icon-container {
    color: rgb(57,217,158);
    display: none;
}

#product-saved-icon-container {
    display: none;
}

#product-save-error-icon-container {
    display: none;
}

#product-saved-icon {
    font-size:40px;
}

.product-save-successful {
    color: rgb(57,217,158);
}

.product-save-error {
    color: red;
}

#product-details-container {
    overflow-y: auto;
    height: 810px;
}

.form-row {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#add-property-button-container {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#add-property-button {
    width: 20%;
}

#button-container {
    text-align: center;

}

#sortable-properties {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.sortable-item {
    cursor: move; /* Show a move cursor */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 15px;

}

.sortable-placeholder {
    background-color: #e9ecef;
    border: 2px dashed #ccc;
    height: 50px;
    border-radius: 5px;
}

/* Item while being dragged */
.ui-sortable-helper {
    box-sizing: border-box;
}

.error-input {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-message-div {
    color: red;
}

.form-row .error-message-div {
    height:30px;
}

.sortable-item .error-message-div {
    height: 15px;
}

.remove-property-button {
    margin-top: 25%;
}

#image-upload-progress-container {
    height: 20px;
}

#image-upload-progress {
    display: none;
    width: 100%;
    margin: 10px auto;
    height: 100%;
}

#initial-image-loading-icon-container {
    display: none;
    margin-top: 50px;
    color: rgb(50, 50, 255);
    text-align: center;
}

#initial-image-loading-icon {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

#initial-image-loading-text {
    margin-top: 20px;
}

#photos-container {
    height: 780px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 10px;
}

#photos-inner-container {
    padding: 15px;
    height: 100%;
    overflow-y: auto;
}



.photo-row {
    display: none; /* Hide the photo row by default until the image is actually loaded in when loading the page with all images */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    border-radius: 5px;
}

.photo-row-inner-container {
    display: flex;
    align-items: center;
    padding: 10px;
}


.product-image {
    width: 90%;
    height: 90%;

}

.remove-image-button-container {
    display: flex;
    justify-content: end;
}
