#form-container {
    width: 100%;
    height: 1000px;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid black;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 15px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right:15px;
}

#edit_product_form {
    height: 100%;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#header-title {
    text-align: center;
    margin: 0;
}

#saving-status-icon-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

#saving-status-icon-container img, #saving-icon-container .bi {
    width: 40px;
    height: 40px;
}

#product-saving-icon-container {
    color: rgb(57,217,158);
    display: none;
}

#product-saved-icon-container {
    display: none;
}

#product-save-error-icon-container {
    display: none;
}

#product-saved-icon {
    font-size:40px;
}

.product-save-successful {
    color: rgb(57,217,158);
}

.product-save-error {
    color: red;
}

#product-details-container {
    overflow-y: auto;
    height: 810px;
}

.form-container-row {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#add-property-button-container {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#add-property-button {
    width: 20%;
}

#button-container {
    text-align: center;

}

#extra-message-div {
    text-align: center;
    width: 20%;
    margin-left:40%;
    margin-top: 10px;
}

#product-properties {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.sortable-item {
    cursor: move; /* Show a move cursor */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 15px;
}

.sortable-placeholder {
    background-color: #e9ecef;
    border: 2px dashed #ccc;
    height: 50px;
    border-radius: 5px;
}

/* Item while being dragged */
.ui-sortable-helper {
    box-sizing: border-box;
}

.error-input {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* red glow */
}

.error-message-div {
    color: red;
}

.success-message-div {
    background-color: green;
    color: white;
}

.deletion-success-message {
    color: white;
    background-color: rgb(17, 163, 17);
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

.form-container-row .error-message-div {
    height:30px;
}

.sortable-item .error-message-div {
    height: 15px;
}

.remove-property-button {
    margin-top: 25%;
}

.property-row-message-container {
    display: flex;
}

#image-upload-progress-container {
    height: 20px;
}

#image-upload-progress {
    display: none;
    width: 100%;
    margin: 10px auto;
    height: 100%;
}

#initial-image-loading-icon-container {
    display: none;
    margin-top: 50px;
    color: rgb(50, 50, 255);
    text-align: center;
}

#initial-image-loading-icon {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

#initial-image-loading-text {
    margin-top: 20px;
}

#images-container {
    height: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 10px;
}

#inner-images-messages-container {
    height: 10px;
    text-align: center;
}

#inner-images-messages-label {
    display: none;
}

#images-inner-container {
    padding: 15px;
    height: 100%;
    overflow-y: auto;
}

.image-row {
    display: none; /* Hide the image row by default until the image is actually loaded in when loading the page with all images */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 180px;
}

.image-row-inner-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.product-image-container {
    width: 160px;
    height: 160px; /* TODO convert this to use aspect-ratio: 1/1 */
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.remove-image-button-container {
    display: flex;
    justify-content: end;
}

#prices-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 270px;
    margin-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
}

.price-row-inner-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.price-row {
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.price-row-inner-container {
    padding-left: auto;
    padding-right: auto;
}
