#form-container {
    width: 70%;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
#header-title {
    text-align: center;
    margin: 0;
}

#saving-status-icon-container {
    display: flex;
    align-items: center;
}

#saving-status-icon-container img, #saving-icon-container .bi {
    width: 40px;
    height: 40px;
}

#product-saving-icon-container {
    color: rgb(57,217,158);
    display: none;
}

#product-saved-icon-container {
    display: none;
}

#product-saved-icon {
    font-size:40px;

}

.product-save-successful {
    color: rgb(57,217,158);
}

.product-save-error {
    color: red;
}

.form-row {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#add-property-button-container {
    justify-content: center;
}

#add-property-button {
    width: 20%;
}

#button-container {
    text-align: center;
}

#sortable-properties {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sortable-item {
    cursor: move; /* Show a "move" cursor */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}


.sortable-placeholder {
    background-color: #e9ecef;
    border: 2px dashed #ccc;
    height: 50px;
    border-radius: 5px;
}

/* Item while being dragged */
.ui-sortable-helper {
    box-sizing: border-box;
}