#products-top-header {
    margin-left: 50%;
    margin-right: 50%;
}

#products-container {
    display: grid;
    grid-gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color:rgb(150 150 150);
    border: 1px black solid;
    border-radius: 7px;
    padding:2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px white solid;
    border-radius:5px;
}

.product-card a {
    text-decoration: none;
    color: black;
}

.product-card a:hover {
    text-decoration: underline;
    color:#436a91;
}


@media only screen and (min-width: 768px) {
    #products-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media only screen and (max-width: 767px) {
    #products-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}