.home-nav {
    display: flex;
    /* justify-content: space-around; Evenly distribute space around items */
    align-items: center; /* Center items vertically */
  }
  
  .home-nav-item {
    color: #000; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 0.5rem 1rem; /* Padding for links */
    font-weight: bold; /* Bold text */
    flex-grow: 1; /* Allow links to grow equally */
    text-align: center; /* Center text within each link */
  }
  
  .home-nav-item:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  #top-image-div {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
  }

  #top-image {
    width: 100%;
    height: 50%;
  }