body {
    background-color: #d5d5d5;
}
#login-container {
    width: 400px;
    height: 250px;
    background-color: #f8f8f8;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}